body {
    direction: rtl;
}
.navbar-light .navbar-nav {
    margin-right: auto;
    margin-left: 0;
    text-align: right;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-light .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 15px;
  padding-right: auto;
}
.navbar-light .navbar-nav .nav-item:last-child {
  padding-left: auto;
  padding-right: 15px;
}
.main-banner-content {
    text-align: right;
}
.about-content {
    text-align: right;
}
.about-content .about-inner .single-inner-box {
    padding-right: 85px;
    padding-left: 0;
}
.about-content .about-inner .single-inner-box .icon {
    right: 0;
    left: auto;
}
.about-image .back-img1 {
    left: 10px;
    right: auto;
}
.about-image .back-img2 {
    right: 10px;
    left: auto;
}
.about-image .circle-img {
    left: -4px;
    right: auto;
}
.property-details-area::before {
  right: -80%;
}
.property-details-info {
    text-align: right;
}
.agent-content {
    padding-right: 30px;
    padding-left: 0;
    text-align: right;
}
.agent-content .section-title {
    text-align: right;
}
.agent-content .social {
    right: 200px;
    left: auto;
}
form#contactForm {
    text-align: right;
}
.contact-box .agent-contact .content {
    text-align: right;
}
.contact-box {
    text-align: right;
}
.contact-box .contact-info li {
    padding-right: 40px;
    padding-left: 0;
}
.contact-box .contact-info li i {
    right: 0;
    left:auto;
}
td {
    text-align: right;
}
.offset-lg-1 {
    margin-right: 8.333333%;
    margin-left: 0;
}
.visit-form form label {
    text-align: right;
}
.hero-content {
    text-align: right;
}
.property-details-area-two::before {
    left: 0;
    right: auto;
}
.tab .tab_content {
    text-align: right;
}
.tab .tab_content .tabs_item .tabs_item_content ul li span {
    float: left;
}
.top-header ul.social {
    text-align: left;
}
ul.header-contact {
    text-align: right;
}
.top-header ul.header-contact li {
    margin-left: 20px;
    margin-right: 0;
}
.main-banner-text {
    text-align: right;
}
.go-top {
    left: 15px;
    right: auto;
}
.agent-content .agent-info {
    padding: 10px 25px 10px 100px;
    text-align: right;
}
.agent-content .agent-info::before {
    clip-path: unset;
}
.agent-content .agent-info::after {
    clip-path: unset;
}
.text-danger {
    text-align: right !important;
}




/* RTL responsive css*/
@media only screen and (max-width: 767px) {
    .about-image .circle-img {
        right: 0 !important;
        left: auto;
    }
    .agent-content .social {
        right: 0 !important;
        left: auto;
    }
    .about-content .about-inner .single-inner-box {
        padding-left: 0 !important;
        padding-right: 70px;
    }
    .agent-content .section-title {
        text-align: right !important;
    }
    .offset-lg-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .go-top {
        left: 10px;
        right: auto;
    }
    
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .offset-lg-1 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-content .about-inner .single-inner-box {
        padding-left: 0 !important;
    }
    .property-details-area::before {
        right: 18% !important;
    }
    
    
    
}

@media only screen and (min-width: 1400px) {
 
    
}
/*# sourceMappingURL=responsive.css.map */